<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Thêm loại sản phẩm mới</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
<!-- https://fonts.google.com/specimen/Roboto -->
<link rel="stylesheet" href="css/fontawesome.min.css" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet" href="jquery-ui-datepicker/jquery-ui.min.css"
	type="text/css" />
<!-- http://api.jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="css/bootstrap.min.css" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="css/admin-style.css">
<!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body>

	<!--Header-->
	<thblock th:include="ad-header"> </thblock>
	<!--Content-->
	<div class="container tm-mt-big tm-mb-big">
		<div class="row">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
				<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
					<div class="row">
						<div class="col-12">
							<h2 class="tm-block-title d-inline-block">Thêm loại sản phẩm</h2>
						</div>
					</div>
					<div class="row tm-edit-product-row">
						<!--                    <div class="col-xl-6 col-lg-6 col-md-12">-->
						<div class="col-xl-6 col-lg-6 col-md-12">
							<form th:action="@{/addProductType}" method="POST" class="tm-edit-product-form">
								<div class="form-group mb-3">
									<label for="name">Tên loại sản phẩm </label> 
									<input id="name"
									name="name" type="text"
									class="form-control validate"
									th:field="*{type.type_name}"
									required />
								</div>
								<div class="col-12">
									<button type="submit"
										class="btn btn-primary btn-block text-uppercase">Xác
										nhận thêm</button>
								</div>
							</form>
						</div>

						<!--                    </form>-->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Footer-->
	<footer class="tm-footer row tm-mt-small">
		<div class="col-12 font-weight-light">
			<p class="text-center text-white mb-0 px-4 small">
				<!--                Copyright &copy; <b>2020</b> All rights reserved.-->
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				Coffee Blend. All rights reserved.
				<!--                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
			</p>
		</div>
	</footer>

	<script src="js/jquery-3.3.1.min.js"></script>
	<!-- https://jquery.com/download/ -->
	<script src="jquery-ui-datepicker/jquery-ui.min.js"></script>
	<!-- https://jqueryui.com/download/ -->
	<script src="js/bootstrap.min.js"></script>
	<!-- https://getbootstrap.com/ -->

</body>
</html>
