<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>Cập nhật sản phẩm</title>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
<!-- https://fonts.google.com/specimen/Roboto -->
<link rel="stylesheet" href="/css/fontawesome.min.css" />
<!-- https://fontawesome.com/ -->
<link rel="stylesheet" href="/jquery-ui-datepicker/jquery-ui.min.css"
	type="text/css" />
<!-- http://api.jqueryui.com/datepicker/ -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!-- https://getbootstrap.com/ -->
<link rel="stylesheet" href="/css/admin-style.css">
<!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<body>

	<!--Header-->
	<thblock th:include="ad-header"> </thblock>
	<!--Content-->
	<div class="container tm-mt-big tm-mb-big">
		<div class="row">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
				<div class="tm-bg-primary-dark tm-block tm-block-h-auto">
					<div class="row">
						<div class="col-12">
							<h2 class="tm-block-title d-inline-block">Cập nhật sản phẩm</h2>
						</div>
					</div>
					<div class="row tm-edit-product-row">
						<div class="col-xl-6 col-lg-6 col-md-12">
							<form action="#" th:action="@{/save/{id}(id=${product.id})}" method="post"
								 enctype="multipart/form-data"
								class="tm-edit-product-form">
								<div class="form-group mb-3">
									<label for="name">Tên sản phẩm </label> <input id="name"
										name="name" type="text" th:field="*{product.product_name}"
										class="form-control validate" />
								</div>
								<div class="form-group mb-3">
									<label for="price">Giá </label> <input id="price"
										name="price" type="text" th:field="*{product.price}"
										class="form-control validate" />
								</div>
								<div class="form-group mb-3">
									<label for="price">IMG URL </label> <input id="url"
										name="url" type="text" th:field="*{product.url}"
										class="form-control validate" />
										<div class="tm-product-img-edit mx-auto">
								<img style="width: 300px; height: auto" id="thumbnail2" th:src="${product.url}"
									alt="preview" />
							</div>
								</div>
								<div class="form-group mb-3">
									<label for="description">Mô tả</label>
									<textarea id="description"
										class="form-control validate tm-small" rows="5"
										th:field="*{product.description}" required>
                                </textarea>
								</div>
								<div class="form-group mb-3">
									<label for="type">Loại sản phẩm</label> <select
										class="custom-select tm-select-accounts"
										th:field="*{product.type}"
										>
										
										<option th:each="type : ${productType}" th:value="${type.type_id}"
											th:text="${type.type_name}" id="type"></option>
									</select>
								</div>
								<div class="form-group mb-3">
									<label for="status">Tình trạng</label> <select
										class="custom-select tm-select-accounts"
										th:field="*{product.status}">
										
										<option th:each="status : ${productStatus}" th:value="${status.status_id}"
											th:text="${status.status_name}" id="status"></option>

									</select>
								</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
							<div class="tm-product-img-edit mx-auto">
								<img style="width: 300px; height: auto" id="thumbnail" th:src="${product.fullPath}"
									alt="preview" />
							</div>
							<div class="custom-file mt-3 mb-3">
								<input type="file" id="fileImg" name="fileImage"
									accept="image/*" class="btn btn-primary btn-block mx-auto"
									value="Thay đổi hình ảnh">
								<!-- <input id="fileInput" type="file" style="display: none;" /> 
								<input
									type="button" class="btn btn-primary btn-block mx-auto"
									value="Thay đổi hình ảnh"
									onclick="document.getElementById('fileInput').click();" /> -->
							</div>
						</div>
						<div class="col-12">
							<button type="submit"
								class="btn btn-primary btn-block text-uppercase">Xác
								nhận cập nhật</button>
						</div>
						</form>


					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Footer-->
	<footer class="tm-footer row tm-mt-small">
		<div class="col-12 font-weight-light">
			<p class="text-center text-white mb-0 px-4 small">
				<!--                Copyright &copy; <b>2020</b> All rights reserved.-->
				Copyright &copy;
				<script>
					document.write(new Date().getFullYear());
				</script>
				Coffee Blend. All rights reserved.
				<!--                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
			</p>
		</div>
	</footer>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<!-- https://jquery.com/download/ -->
	<script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
	<!-- https://jqueryui.com/download/ -->
	<script src="/js/bootstrap.min.js"></script>
	<!-- https://getbootstrap.com/ -->
	<script>
		$(function() {
			$("#expire_date").datepicker({
				defaultDate : "10/22/2020"
			});
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#fileImg").change(function() {
				readURL(this);
			});
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$('#thumbnail').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]); // convert to base64 string
			}
		}
	</script>

<!-- 	<script>
		$(function() {
			// bind change event to select
			$('#productType_select').on('change', function() {
				var id = $(this).val(); // get selected value
				if (id) { // require a URL
					window.location = id; // redirect
				}
				return false;
			});
		});
	</script> -->

</body>
</html>
