<th:block th:if="${currentCustomer == null}" >
<header>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse menu" id="ftco-nav" >
            <ul class="navbar-nav ml-auto">
                <li class="search_and_icon">
                <form>
                    <input type="text" class="form-control search align-left-search" placeholder="Tìm kiếm......">
                    <button type="submit" class="icon-search align-left-search" ></button>
                </form>
                </li>
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a th:href="@{/menu}" class="nav-link">Thực đơn</a></li>
                <!--                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Cửa hàng</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" th:href="@{/about}">Về chúng tôi</a>
                        <a class="dropdown-item" th:href="@{/shoppingCart}">Giỏ hàng</a>
                        <a class="dropdown-item" th:href="@{/new-shipping}">Thanh toán</a>
                    </div>
                </li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Liên hệ</a></li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/shoppingCart}" id="dropdown05" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i> Tài khoản</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" th:href="@{/login}">Đăng nhập</a>
                        <a class="dropdown-item" th:href="@{/register}">Đăng kí</a>
                        <a class="dropdown-item" th:href="@{/customerInfo}">Thông tin cá nhân</a>
                    </div>
                </li>

                <li class="nav-item cart"><a th:href="@{/shoppingCart}" class="nav-link"><span
                        class="icon icon-shopping_cart"></span><span
                        class="bag d-flex justify-content-center align-items-center" ><small>0</small></span></a></li>
            </ul>
        </div>
    	</div>
	</nav>
</header>
</th:block>
<th:block th:if="${curCustomer != null}">
	<header>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Coffee<small>Blend</small></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse menu" id="ftco-nav" >
            <ul class="navbar-nav ml-auto">
                <li class="search_and_icon">
                    <input type="text" class="form-control search align-left-search" placeholder="Tìm kiếm......" >
                    <a class="icon-search align-left-search"></a>
                </li>
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Trang chủ</a></li>
                <li class="nav-item"><a th:href="@{/menu}" class="nav-link">Thực đơn</a></li>
                <!--                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Cửa hàng</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" th:href="@{/about}">Về chúng tôi</a>
                     
                        <a class="dropdown-item" th:href="@{/shoppingCart}">Giỏ hàng</a>
                        <a class="dropdown-item" th:href="@{/new-shipping}">Thanh toán</a>
                    </div>
                </li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link">Liên hệ</a></li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" th:href="@{/shoppingCart}" id="dropdown05" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i> Tài khoản</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown05">
                        <a class="dropdown-item" th:href="@{/login}">Đăng xuất</a>
                        <a class="dropdown-item" th:href="@{/customerInfo}">Thông tin cá nhân</a>
                    </div>
                </li>

                <li class="nav-item cart"><a th:href="@{/shoppingCart}" class="nav-link"><span
                        class="icon icon-shopping_cart"></span><span
                        class="bag d-flex justify-content-center align-items-center" ><small>0</small></span></a></li>
            </ul>
        </div>
    	</div>
	</nav>
</header>
</th:block>



	
	